*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  line-height: 1;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #111111;
}

#hover-board {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .row {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  .square {
    box-shadow: 0 0 2px #000;
    width: 4rem;
    height: 4rem;
    background-color: #1d1d1d;
    transition: 0.25s ease-in;

    cursor: pointer;
  }
}
